<div class="hero-unit">

	<h1>Welcome to the War on Carbs!</h1>
	<p>
		You've found the home page for the
	<%= link_to "Carb Cartel", "http://onemonthrails.com" %>
		application.
	</p>
	<p>
	 	<%= link_to "Sign Up Now!" , "#" , class: "btn btn-primary btn-large" %>
	 <p>
</Div> 
